html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;
    background-image: url('../../assets/blue_gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.register-textboxes h1 {
    margin-bottom: 50px;
    font-size: 3rem;
    background-color: transparent;
}

.register-textboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: auto;
    margin: 0 auto;
}

.register-textboxes button[type="button"] {
    margin: 10px auto;
    padding: 12px;
    font-size: 18px;
    width: 120px;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
}

.login-wrapper {
    text-align: center;
    margin-top: 10px;
}

.login-wrapper button:hover {
    background-color: rgb(162, 162, 162);
}

.textbutton {
    background: transparent;
    border: none;
    color: aliceblue;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    padding-top: 30px;
    text-align: left;

    width: 275px;
}


.textbutton:hover {
    text-decoration: underline;
}

.login-login-message {
    padding: 12px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    font-size: 18px;
}