.toolbar {
    background-color: #b1b1b1;
    overflow: hidden;
}

.toolbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.toolbar a:hover {
    background-color: white;
    color: black;
}

.toolbar a.active {
    background-color: #04AA6D;
    color: white;
}

