html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;
    background-image: url('../../assets/blue_gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.events-event-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.events-event {
    padding: 24px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    text-align: left;
    min-height: 50px;
    max-width: 600px;
    width: 80%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.events-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 10px;
}

.events-desc {
    font-size: 1em;
    margin-left: 10px;
    font-weight: lighter;
}

.events-h2 {
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
}