html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;
    background-image: url('../../assets/blue_gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
    box-sizing: border-box;
}

.register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    gap: 20px;
    font-family: inherit;
}

.register-textboxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.textbox-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.register-textboxes input[type="text"],
.register-textboxes input[type="password"] {
    padding: 12px;
    font-size: 18px;
    width: 250px;
    border: 2px solid #333;
    border-radius: 10px;
    font-family: inherit;
}

.register-button {
    margin: 10px auto;
    padding: 12px;
    font-size: 18px;
    width: 120px;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
}

.register-button:hover {
    background-color: rgb(162, 162, 162);
}

.login-button {
    background: transparent;
    border: none;
    color: aliceblue;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    width: 277px;
}

.login-button:hover {
    text-decoration: underline;
}

.password-wrapper {
    position: relative;
}

.email-wrapper {
    position: relative;
}

#feedback {

    position: absolute;
    right: -350px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    max-height: 100px;
    overflow-y: auto;

}

#emailfeedback {
    position: absolute;
    right: -350px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

h2 {
    padding: 12px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}