/* GENERAL LAYOUT */
body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: #eaeaea;
}

/* CONTAINER */
.planner-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
.planner-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid #2a2a2a;
    color: #eaeaea;
}

.planner-header a {
    color: aliceblue;
}

.planner-header .planner-title {
    background-color: rgba(255, 255, 255, 0.15);
    color: aliceblue;
}

.planner-header-left h1 {
    font-size: 1.4rem;
    margin: 0;
    color: #ffffff;
}

.planner-header-left p {
    margin: 0;
    font-size: 0.9rem;
    color: #bbbbbb;
}

.planner-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.week-planner-navlink {
    color: aliceblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.week-planner-navlink:hover {
    text-decoration: underline;
}

/* TABLE CONTAINER */
.planner-table-container {
    flex: 1;
    overflow: auto;
    min-height: 0;
    padding: 1rem 2rem;
}

/* TABLE */
.planner-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.planner-table tr:hover {
    background-color: rgba(255, 255, 255, 0.005);
}

.planner-table th,
.planner-table td {
    border: 1px solid #2a2a2a;
    text-align: center;
    padding: 0.5rem;
    transition: background-color 0.2s ease;
}

.planner-table th {
    background-color: #b1b1b1;
    color: #000000;
    position: sticky;
    top: 0;
    z-index: 2;
}

.planner-table td {
    background-color: rgba(255, 255, 255, 0.15);
    color: #eaeaea;
}

.planner-table td:hover {
    background: rgba(255, 255, 255, 0.005);
    cursor: pointer;
}

/* TIME COLUMN */
.time-col {
    font-weight: 500;
    color: #9999ff;
    background-color: rgba(255, 255, 255, 0.15);
    position: sticky;
    left: 0;
    z-index: 1;
}

/* FOOTER */
.planner-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-top: 1px solid #2a2a2a;
}

.planner-footer a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.planner-footer a:hover {
    text-decoration: underline;
}