#Eventheader {
    text-align: center;
}

#form-wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.event-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#form {
    flex: 1 1 300px;
    max-width: 100%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

input,
textarea,
select {
    width: 95%;
    /* ruimte tussen typvlak en border */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
}

.event-button {
    /* ruimte boven */
    margin-top: 20px;
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.event-button:hover {
    background-color: #00d52e;
}