.admin-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 40px;
    width: 50%;
    height: auto;
    margin-bottom: 40px;
    color: black; 
}

.admin-profile-text-wrapper {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;
}

.admin-profile-pic {
    width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    padding: 3%;
}

.admin-profile-text {
    line-height: 1.6;
    text-align: center;
    margin-top: 0;
    color: black;
}

.admin-profile-text h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.admin-profile-text2 {
    margin-top: 45px;
}

.admin-profile-text2 h2,
.admin-profile-text2 h3 {
    text-align: left;
    margin-left: 10px;
    border: none; 
    outline: none;      
    background: none;   
}


.admin-profile-heavy {
    font-weight: 700;
    margin: 9px;
    padding: 0px;
}

.admin-profile-light {
    font-weight: 350;
    margin: 7px;
}


